<div class="page-container">
  <div class="card-box">


<div class="final">
  <img src="photos/final.jpg"  class="final-img">

  <h2>🤍🤍🤍Te quiero mucho mucho mucho 🤍🤍🤍</h2>
  <br>
  <p>Espero te haya sacado una sonrisa este mini juego 😉</p>
  <br>
  <p>
    Aunque estemos lejos, jamas habia sentido a alguien tan cerca 🫶🏼
  </p>
  <br>
  <p>
    Me encanta todo lo que compartimos,
    y lo bonito que se siente conocerte cada día un poquito más 🫶🏼
  </p>

  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d62367539.11832496!2d-124.848974!3d19.035202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x3124f2c1c5fef9a9%3A0x9f45b86b5c87eab3!2sLaos!3m2!1d19.856270000000003!2d102.495496!4m5!1s0x85cfc0df25c87a35%3A0xe5a35d69c64d4c6!2sPuebla%2C%20Mexico!3m2!1d19.0412967!2d-98.2061996!5e0!3m2!1ses!2smx!4v1707926500000"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

</div>

  </div>
</div>
