.map-container {
  width: 100%;
  margin-top: 20px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.map-container iframe {
  width: 100%;
  height: 260px;
  border: none;
}

.final-img {
  animation: fadeIn 5s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.97); }
  to { opacity: 1; transform: scale(1); }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0 6px 15px rgba(0,0,0,.15);
}
